.list-container{
    margin: auto;
    width: 70%;
}
.list-container ul{
    list-style-type: none;
}
.list-container img{
    width: 150px;
    max-height: 100px;
    margin-right: 40px;
    border-radius: 10px;

}
.carrier-record{
    height: 150px;
    display: flex;
    align-items: center;
    margin: 20px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    margin: 50px 0px;
}
.provider-li{
    display: flex;
    padding: 0px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    margin-bottom: 35px;
}
h4, p{
    margin: 5px 5px;
}
.carrier-info{
    display: flex;
}
.provider-info{
    margin: 10px;
    width: max-content;
}
.provider-contact-info{
    display: flex;
    width: fit-content;
    justify-content: space-between;
}

@media (max-width: 1750px){
    .carrier-info{
        flex-direction: column;
    }
    .carrier-record{
        height: fit-content;
    }
}